<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/info-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Clínica Rafadol</title>
    </head>
    <body>

<!-- INICIO DO HEADER -->
        <header class="header">
            <div id="logo">
                <a href="../index.php" title="Clínica Rafadol">
                    <img src="../imagens/logoClinica.png" alt="Clínica Rafadol">
                </a>
                
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="../index.php">Página Inicial</a></li>
                    <li><a href="tratamentos.html">Tratamentos</a></li>
                    <li><a href="info-dicas.html">Informativo/Dicas</a></li>
                    <li><a href="sobrenos.html">A Clínica</a></li>
                </ul>
            </nav>
            <div class="admin-area">
                <a href="../DAO/login.php"  class="admin-btn">Área do Administrador</a>
            </div>
        </header>
<!-- FIM DO HEADER -->

<main>

    <section id="tipsSection" class="tips-section">
        <div class="container">
            <h2 class="section-title">Dicas Informativas</h2>
            <div class="tips-grid">
                <div class="tip">
                    <img src="../imagens/clar-dental.png" alt="Clareamento dental a laser">
                    <h3>Clareamento dental a laser</h3>
                    <p>O clareamento dental a laser é um procedimento eficaz para remover manchas e descolorações dos dentes. Durante o processo, um gel especial é aplicado nos dentes e ativado por um laser, resultando em dentes mais brancos e brilhantes.</p>
                </div>
                <div class="tip">
                    <img src="../imagens/sens-dental.png" alt="Hipersensibilidade dentaria">
                    <h3>Hipersensibilidade dentária</h3>
                    <p>A hipersensibilidade dentária é uma condição na qual os dentes ficam sensíveis a estímulos como alimentos quentes, frios, doces ou ácidos. Isso pode ser causado pela exposição da dentina, a camada sensível sob o esmalte, devido à recessão gengival ou ao desgaste do esmalte.</p>
                </div>
                <div class="tip">
                    <img src="../imagens/impl-dentario.png" alt="O que são implantes dentários?">
                    <h3>O que são implantes dentários?</h3>
                    <p>Os implantes dentários são dispositivos de titânio que são cirurgicamente inseridos no osso da mandíbula ou maxila para substituir as raízes dentárias ausentes. Eles fornecem uma base sólida para próteses dentárias fixas ou removíveis e ajudam a restaurar a função e a estética dos dentes perdidos.</p>
                </div>
                <div class="tip">
                    <img src="../imagens/acupuntura.png" alt="Acunpuntura em tratamentos odontológicos">
                    <h3>Acupuntura em tratamentos odontológicos</h3>
                    <p>A acupuntura é uma prática milenar da medicina chinesa que envolve a inserção de agulhas em pontos específicos do corpo para aliviar a dor e promover o bem-estar. No contexto odontológico, a acupuntura pode ser utilizada como um complemento ao tratamento convencional para aliviar a dor, a ansiedade e promover a cura.</p>
                </div>
                
            </div>
        </div>
    </section>
    

</main>



<!-- INICIO DO FOOTER -->

<footer>
    <section id="contentFooter" class="padding-block bg-default font-futura-book">
        <div class="conteudo-footer">
            <div class="row justify-content-center">
                <div class="column-footer col-md-6 col-lg-4">
                    <div id="infosFooter">
                        <h4 class="text-white mb-4">
                            Contato
                        </h4>

                        <ul id="listInfos">
                                                        <li>
                                <div class="item-info d-flex ">
                                    <i class="fas fa-map-marker-alt"></i>

                                    <address class="info-text">
                                        <p>Av. Arlindo Silva, 2304
    <br>Porto Alegre – RS
    <br>CEP: 90580-022</p>
                                    </address>
                                </div>
                            </li>
                            
                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                        
                                <li>
<div class="item-info d-flex">
<i class="fas fa-phone-alt"></i>
<div class="info-text">
(51) 3000.4000

</div>
</div>
</li>

   <li>
<div class="item-info d-flex">
  <i class="fab fa-whatsapp"></i>
<div class="info-text">
(51) 98160.8853

</div>
</div>
</li>

                                
                                                            
                                                        <li>
                                <div class="item-info d-flex ">
                                    <i class="fal fa-envelope"></i>

                                    <div class="info-text">
                                            contato@clinicarafadol.com.br
                                        
                                    </div>
                                </div>
                            </li>
                                                    </ul>
                    </div>
                </div>

                <div class="column-footer col-md-3 col-lg-2">
                    <div id="menuFooter">
                        <h4 class="text-white mb-4">
                            Links
                        </h4>

                        <ul>
                            <li>
                                <a title="Página Inicial" href="../index.php" class="transition-all ">
                                    <span>Página Inicial</span>
                                </a>
                            </li>
                            
                            <li>
                                <a title="Tratamentos" href="tratamentos.html" class="transition-all ">
                                    <span>Tratamentos</span>
                                </a>
                            </li> 
                            
                            <li>
                                <a title="Informativo/Dicas" href="info-dicas.html" class="transition-all ">
                                    <span>Informativo/Dicas</span>
                                </a>
                            </li>

                            <li>
                                <a title="A Clínica" href="sobrenos.html" class="transition-all ">
                                    <span>A Clínica</span>
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                </div>

                <div class="column-footer col-md-3 col-lg-2">
                    <div id="servicesFooter">
                        <h4 class="text-white">
                            Tratamentos
                        </h4>

                        <ul>
                                                        <li>
                                <a title="Implantes Dentários" href="" class="transition-all   ">
                                    <span>Implantes Dentários</span>
                                </a>
                            </li>
                                                        <li>
                                <a title="Prótese Dentária" href="" class="transition-all   ">
                                    <span>Prótese Dentária</span>
                                </a>
                            </li>
                                                  
                                                        <li>
                                <a title="Lentes de Contato Dental" href="" class="transition-all   ">
                                    <span>Lentes de Contato Dental</span>
                                </a>
                            </li>
                                                      
                                                        <li>
                                <a title="Clareamento Dentário" href="" class="transition-all  ">
                                    <span>Clareamento Dentário</span>
                                </a>
                            </li>
                                              
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="networkFooter" class="bg-clean">
                <div class="conteudo-network">
            <div id="contentNetworkFooter">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div id="logo2">
                            <a href="../index.php" title="Clínica Rafadol">
                                <figure class="transition-all">
                                    <img src="../imagens/logoClinicaWhite.png" alt="Clínica Rafadol" loading="lazy" height="66" width="115" class="img-fluid">
                                </figure>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div id="contentNetwork" class="color-default d-flex align-items-center justify-content-lg-between">
                            <figure class="transition-all me-3">
                                <img src="https://clinicabiehl.com.br/themes/default/assets/images/facebook.svg" alt="Facebook Clínica Biehl" loading="lazy" width="36" height="34" class="img-fluid">
                            </figure>

                            <figure class="transition-all">
                                <img src="https://clinicabiehl.com.br/themes/default/assets/images/instagram.svg" alt="Instagram Clínica Biehl" loading="lazy" width="38" height="38" class="img-fluid">
                            </figure>

                            <ul class="list-network d-flex">
                                                                <li>
                                    <a href="https://instagram.com/_sartorirafael" target="_blank"><span>@_sartorirafael</span></a>
                                                                </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="copyright" class="text-center color-default d-flex align-items-center justify-content-center">
            
                <p>
                    © 2024 Clínica Rafadol - Desenvolvido por Rafael.
                </p>
            
        </div>
    </section>

</footer>

<!-- FIM DO FOOTER -->

    </body>
    </html>